/* TEXT STYLES */

@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

h1 {
  font-family: Parkinsans;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 70.4px */
  margin: 0%;
  text-align: left;
}

h2 {
  font-family: Parkinsans;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 35.2px */
  margin: 0%;
  text-align: left;
}

h3 {
  font-family: Parkinsans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0%;
  text-align: left;
}

p {
  font-family: Parkinsans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0%;
  text-align: left;
}

small {
  font-family: Parkinsans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0%;
}

.Description {
  color: #8B8B8B;
  text-align: right;
  width: 100%;
}

.Negative {
  color: #B72727;
}

.Positive {
  color: #7DB727;
}

/* SCREEN DIV CLASSES */

.Screen {
  padding: 56px 20px;
  display: flex;
  width: 353px;
  height: 85vh;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  background-size: cover;      /* fills viewport while keeping aspect ratio */
  background-repeat: no-repeat;
  background-position: center;
}

.default{
  background-image: url('../public/mobile_default-blue.png');
}

.success {
  background-image: url(../public/mobile_success-blue.png);
}

.failed {
  background-image: url(../public/mobile_failed.png);
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 399px;
  gap: 20px;
  align-self: stretch;
}


.Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 399px;
  gap: 20px;
  align-self: stretch;
}

.MainWrapper {
  display: flex;
  flex: 1;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 20px;
  background: #FFF;
}

.MainWrapper--noheight {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 20px;
}

.MainWrapper--Text {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: stretch;
  gap: 0px;
}

.TimerWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.ActionWrapper {
  background-color: white;
  display: flex;
  width: 353px;
  min-height: 59px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  flex-direction: column;
}

.TimerBox {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex: 1 0 0;
  border-radius: 8px;
  background: #EEE;
  cursor: pointer;
  transition: all 0.2s ease;
}

.Button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: #253CAE;
}

.Button h2 {
  color: #FFF;
  text-align: center;
}

/* IMAGES */

.charac_app {
  width: 305px;
  height: 295px;
  aspect-ratio: 61/59;
  background-image: url(../public/charac_app-blue.png);
  background-size: cover;
}

.charac_timer {
  width: 305px;
  height: 295px;
  aspect-ratio: 61/59;
  background-image: url(../public/charac_timer-blue.png);
  background-size: cover;
  margin: -28px;
}

.charac_success {
  width: 305px;
  height: 295px;
  aspect-ratio: 61/59;
  background-image: url(../public/charac_success-blue.png);
  background-size: cover;
  margin: -28px;
}

.charac_failed {
  width: 305px;
  height: 295px;
  aspect-ratio: 61/59;
  background-image: url(../public/charac_failed-blue.png);
  background-size: cover;
  margin: -28px;
}

/* INTERACTIONS */

.TimerBox.active {
  background: #41B3C1;
  color: #fff;
}

.SlideToExit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.SlideToExit h3 {
  white-space: nowrap;
  padding: 0 0 0 24px;
}

.ArrowBox {
  display: flex;
  width: 70px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #41B3C1;
  flex-shrink: 0;
  transition: transform 0.1s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: grab;
  touch-action: none;
}
